<footer class="page-footer stylish-color-dark mt-4 pt-4">
    <!-- Footer Links -->
    <div class="container-fluid">
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mr-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">ที่อยู่</h6>

          <p>
            193 ถ.มาตุลี ต.ปากน้ำโพ
            อ.เมืองฯ จ.นครสวรรค์ 60000
            โทร. 056-221360 โทรสาร. 056-221086
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mr-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Social Link</h6>

          <p>
            <a href="https://www.facebook.com/nwvoc.ac.th/">วิทยาลัยอาชีวศึกษานครสวรรค์</a>
          </p>

          <p>
            <a href="https://www.facebook.com/%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%8A%E0%B8%B2%E0%B8%AA%E0%B8%B1%E0%B8%A1%E0%B8%9E%E0%B8%B1%E0%B8%99%E0%B8%98%E0%B9%8C-%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%A5%E0%B8%B1%E0%B8%A2%E0%B8%AD%E0%B8%B2%E0%B8%8A%E0%B8%B5%E0%B8%A7%E0%B8%A8%E0%B8%B6%E0%B8%81%E0%B8%A9%E0%B8%B2%E0%B8%99%E0%B8%84%E0%B8%A3%E0%B8%AA%E0%B8%A7%E0%B8%A3%E0%B8%A3%E0%B8%84%E0%B9%8C-107154704952860">งานประชาสัมพันธ์</a>
          </p>
        </div>
        <!-- Third column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mr-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>

          <p><i class="fas fa-envelope mr-3"></i> admin@nwvoc.ac.th</p>

          <p><i class="fas fa-phone mr-3"></i>056-221360</p>

        </div>
        <!-- Grid column -->
      </div>
      <!-- Footer links -->

      <hr />

      <div class="row py-3 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">
          <!-- Copyright -->
          <p class="text-center text-md-left grey-text">
            © 2022 Copyright:
            <a
              href="https://mdbootstrap.com/education/bootstrap/"
              target="_blank"
            >
              nwvoc.ac.th
            </a>
          </p>
          <!-- Copyright -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">
          <!-- Social buttons -->
          <div class="social-section text-center mr-auto text-md-left">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>

              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>

              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight">
                  <i class="fab fa-google-plus-g"></i>
                </a>
              </li>

              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
          <!-- Social buttons -->
        </div>
        <!-- Grid column -->
      </div>
    </div>
  </footer>