<nav
  class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar info-color-dark"
>
  <div class="container">
    <a class="navbar-brand font-weight-bold title" href="#">NWVOC</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="list-unstyled navbar-nav mr-auto">
        <li class="nav-item ml-4">
          <a class="nav-link title" href="/">Home</a>
        </li>
        <li class="nav-item ml-4">
          <a class="nav-link title" href="/about">about</a>
        </li>
        <li class="nav-item ml-4">
          <a class="nav-link title" href="/reg_stu">สมัครเรียน</a>
        </li>
      </ul>
      <!-- Social Icon  -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link">
            <i class="fab fa-facebook-f title"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="fab fa-twitter title"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="fab fa-instagram title"></i>
          </a>
        </li>
        <li class="nav-item ml-3">
          <a
            class="btn btn-info btn-rounded btn-sm font-weight-bold"
            href="/login"
            data-offset="90"
            >บัญชีผู้ใช้</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
