<script>
  //get cookie
  var cookie = document.cookie;
  var cookie_array = cookie.split(";");
  

  function GetValueCookies(name)
  {
    var value = "";
    for (var i = 0; i < cookie_array.length; i++)
    {
      var cookie_name = cookie_array[i].split("=")[0];
      var cookie_value = cookie_array[i].split("=")[1];
      if (cookie_name == name)
      {
        value = cookie_value;
        break;
      }
    }
    return value;
  } 

  console.log(GetValueCookies("user_id"));
 

</script>


<div id="slide-out" class="side-nav sn-bg-4 fixed">
    <ul class="custom-scrollbar">
      <!-- Logo -->
      <li class="logo-sn waves-effect py-3">
        <div class="text-center">
          <a href="#" class="pl-0"><img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"></a>
        </div>
      </li>
      <!-- Logo -->

      <!--Search Form-->
      <li>
        <form class="search-form" role="search">
          <div class="md-form mt-0 waves-light">
            <input type="text" class="form-control py-2" placeholder="Search">
          </div>
        </form>
      </li>
      <!--Search Form-->
      <!-- Side navigation links -->
      <li>
        <ul class="collapsible collapsible-accordion">
          <!-- Simple link -->
          <li><a href="/admin" class="collapsible-header waves-effect"><i class="fas fa-home"></i>
              หน้าหลัก</a></li>          
        </ul>
      </li>
      <!-- Side navigation links -->
    </ul>
    <div class="sidenav-bg mask-strong"></div>
  </div>